# Vivado Bloat
*.jou
*.log
*.str
*.wdb
*.pb
*.jou
*.os
*.zip
*.bit
*.bin
*.mcs

# Work Directories
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
/vivado_project/
!/vivado_project/*.xpr

# Xilinx IP
*.xci
*.xcix
!*.xci
!*.xcix

# Output products
.Xil/
